# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Visual Studio
*.csproj
*.sln
*.suo
*.user
*.userosscache
*.userprefs

# config
config.ini

# OS
.DS_Store
Thumbs.db
